@model Proyecto.Models.Calificacion

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Crear</title>
</head>
<body>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")


  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Calificacion</h4>
      <hr />
      @Html.Hidden("IdCalificacion", 0)
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
        @Html.LabelFor(model => model.IdTipoOperacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdTipoOperacion, new SelectList(ViewBag.ListaTipoOperacion, "IdTipoOperacion", "Descripcion"), "--TipoOperacion--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 1 })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.IdEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdEstudiante, new SelectList(ViewBag.ListaEstudiante, "IdEstudiante", "IdEstudiante"), "--IdEstudiante--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.IdDocente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdDocente, new SelectList(ViewBag.ListaDocente, "IdDocente", "IdDocente"), "--IdDocente--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 3 })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.IdMateria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdMateria, new SelectList(ViewBag.ListaMateria, "IdMateria", "Descripcion"), "--IdMateria--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 4 })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger", tabindex = 5})
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger", tabindex = 6})
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Crear" class="btn btn-default" />
        </div>
      </div>
    </div>
  }

  <div>
    @Html.ActionLink("Salir", "Index")
  </div>
</body>
</html>
