@model IEnumerable<Proyecto.Models.CalificacionList>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
  @Html.ActionLink("Nueva Calificacion", "Crear", "Calificacion", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.IdCalificacion)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.TipoOperacion)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.NombreEstudiante)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.NombreDocente)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Materia)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nota)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Fecha)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.IdCalificacion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TipoOperacion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.NombreEstudiante)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.NombreDocente)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Materia)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nota)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Fecha)
      </td>
      <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.IdCalificacion }, new { @class = "btn btn-success btn-sm" }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdCalificacion }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
      </td>
    </tr>
  }
  <tfoot>
    <tr>
      <th><div class="panel-footer">Cantidad = @Model.Count()</div></th>
    </tr>
  </tfoot>
</table>
