@model Proyecto.Models.DocenteGrado

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Crear</title>
</head>
<body>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")


  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>DocenteGrado</h4>
      <hr />
      @Html.Hidden("IdDocenteGrado", 0)
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
        @Html.LabelFor(model => model.IdDocente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdDocente, new SelectList(ViewBag.ListaDocente, "IdDocente", "Nombre"), "--IdDocente--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 1 })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.IdGrado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IdGrado, new SelectList(ViewBag.ListaGrado, "IdGrado", "Descripcion"), "--IdGrado--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Crear" class="btn btn-default" />
        </div>
      </div>
    </div>
  }

  <div>
    @Html.ActionLink("Regresar", "Index")
  </div>
</body>
</html>
