@model IEnumerable<Proyecto.Models.DocenteGradoList>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Index</title>
</head>
<body>
  <p>
    @Html.ActionLink("Nueva Docente Grado", "Crear", "DocenteGrado", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.IdDocenteGrado)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.NombreDocente)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Grado)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.IdDocenteGrado)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.NombreDocente)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Grado)
        </td>
        <td>
        <td>
          @Html.ActionLink("Editar", "Editar", new { id = item.IdDocenteGrado }, new { @class = "btn btn-success btn-sm" }) |
          @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdDocenteGrado }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
        </td>
      </tr>
    }

  </table>
</body>
</html>
