@{
    ViewBag.Title = "About";
}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
