<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<center>
  <h1>Sistema para escuelas</h1>
  <img src="~/img/Educacion.png" />
  <h4>Creado por Maria Fernanda Solis Calderon</h4>
  <h5>Universidad Fidelitas</h5>
  </center>
