@model IEnumerable<Proyecto.Models.Grado>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <p>
    @Html.ActionLink("Nuevo Grado", "Crear", "Grado", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.IdGrado)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Descripcion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Estado)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.IdGrado)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
          @if (item.Estado == true)
          {
            @Html.Label("Activo")

          }
          else
          {
            @Html.Label("Inactivo")
          }
        </td>
        <td>
          @Html.ActionLink("Editar", "Editar", new { id = item.IdGrado }, new { @class = "btn btn-success btn-sm" }) |
          @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdGrado }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
        </td>
      </tr>
    }
  </table>

