@model Proyecto.Models.UsuarioRol

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
  <div class="form-horizontal">
    <h4>UsuarioRol</h4>
    <hr />
    @Html.Hidden("IdUsuarioRol", 0)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdUsuario, new SelectList(ViewBag.ListaUsuario, "IdUsuario", "Nombre"), "--Usuario--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 1 })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdRol, new SelectList(ViewBag.ListaRol, "IdRol", "Descripcion"), "--Rol--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear" class="btn btn-default" />
      </div>
    </div>
  </div>
    }
    
    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</body>
</html>
