@model Proyecto.Models.Materia

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crear</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
  <div class="form-horizontal">
    <h4>Materia</h4>
    <hr />
    @Html.Hidden("IdMateria", 0)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger", tabindex = 1 })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.IdInstitucion, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdInstitucion, new SelectList(ViewBag.Institucion, "IdInstitucion", "Descripcion"), "--Institucion--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="checkbox">
          @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.ListaEstado, "Value", "Text"), "--Institucion--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 3 })
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear" class="btn btn-default" />
      </div>
    </div>
  </div>
    }
    
<div>
  @Html.ActionLink("Regresar", "Index")
</div>
</body>
</html>
