@model IEnumerable<Proyecto.Models.MateriasPorEstudiante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <title>Materias</title>
    <p>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
            </td>
        </tr>
    }
    
    </table>
