@model IEnumerable<Proyecto.Models.DocenteList>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Nuevo Docente", "Crear", "Docente", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDocente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitucionNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MateriaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDocente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstitucionNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MateriaNombre)
                </td>
                <td>
                    @if (item.Estado == true)
                    {
                        @Html.Label("Activo")

                    }
                    else
                    {
                        @Html.Label("Inactivo")
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdDocente }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdDocente }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
