@model Proyecto.Models.NotaList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h4>NotaList</h4>
        <hr />
        <dl class="dl-horizontal">
          @Html.HiddenFor(model => model.IdNota)
          <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
          </dt>

          <dd>
            @Html.DisplayFor(model => model.Identificacion)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Nombre)
          </dt>

          <dd>
            @Html.DisplayFor(model => model.Nombre)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Materia)
          </dt>

          <dd>
            @Html.DisplayFor(model => model.Materia)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Nota)
          </dt>

          <dd>
            @Html.DisplayFor(model => model.Nota)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Estado)
          </dt>

          <dd>
            @if (Model.Estado == true)
            {
              @Html.Label("Activo")

            }
            else
            {
              @Html.Label("Inactivo")
            }
          </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.IdNota }, new { @class = "btn btn-success btn-sm" }) |
        @Html.ActionLink("Salir", "Index")
    </p>

