@model Proyecto.Models.Notas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>Notas</h4>
    <hr />
    @Html.Hidden("IdNota", 0)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(model => model.IdEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdEstudiante, new SelectList(ViewBag.ListaEstudiante, "IdEstudiante", "IdEstudiante"), "--IdEstudiante--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 1 })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.IdMateria, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdMateria, new SelectList(ViewBag.ListaMateria, "IdMateria", "Descripcion"), "--IdMateria--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger", tabindex = 3})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="checkbox">
        @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.ListaEstados, "Value", "Text"), "--Estado--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 4 })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear" class="btn btn-default" />
      </div>
    </div>
  </div>
  }

  <div>
    @Html.ActionLink("Regresar", "Index")
  </div>
