@model IEnumerable<Proyecto.Models.NotaList>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
  @Html.ActionLink("Nueva Nota", "Crear", "Notas", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.IdNota)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Identificacion)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nombre)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Materia)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nota)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Estado)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.IdNota)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Identificacion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nombre)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Materia)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nota)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Estado)
      </td>
      <td>
      @Html.ActionLink("Editar", "Editar", new { id = item.IdNota }, new { @class = "btn btn-success btn-sm" }) |
      @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdNota }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
      </td>
    </tr>
  }
</table>
