@model IEnumerable<Proyecto.Models.TipoOperacion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Index</title>
</head>
<body>
  <p>
    @Html.ActionLink("Nuevo Tipo de Operacion", "Crear", "TipoOperacion", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.IdTipoOperacion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Descripcion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Estado)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.IdTipoOperacion)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
          @if (item.Estado == true)
          {
            @Html.Label("Activo")

          }
          else
          {
            @Html.Label("Inactivo")
          }
        </td>
        <td>
          @Html.ActionLink("Editar", "Editar", new { id = item.IdTipoOperacion }, new { @class = "btn btn-success btn-sm" }) |
          @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdTipoOperacion }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
        </td>
      </tr>
    }
    <tfoot>
      <tr>
        <th><div class="panel-footer">Cantidad = @Model.Count()</div></th>
      </tr>
    </tfoot>
  </table>
</body>
</html>
