@model IEnumerable<Proyecto.Models.EstudianteList>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Nuevo Estudiante", "Crear", "Estudiante", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grado)
                </td>
                <td>
                    @if (item.Estado == true)
                    {
                        @Html.Label("Activo")

                    }
                    else
                    {
                        @Html.Label("Inactivo")
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdEstudiante }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdEstudiante }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <th><div class="panel-footer">Cantidad = @Model.Count()</div></th>
            </tr>
        </tfoot>
    </table>
</body>
</html>
@section Scripts
{
    <script type="text/javascript">
  $(document).ready(function () {
    $('#Datos').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
    </script>

}
