﻿@model Proyecto.Models.Login


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="bg-black">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/AdminLTE.css" rel="stylesheet" type="text/css" />

</head>
<body class="bg-black">
    <div class="form-box">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="header">
                <h2 class="form-signin-heading">Ingrese los Datos</h2>
            </div>
            <div class="form-group centerlook" style="text-align: center">
                <div class="form-group form-header input-group-lg">
                    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", placeholder = "Usuario", type = "email", tabindex = 1 })
                    @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group centerlook" style="text-align: center">
                <div class="form-group form-header input-group-lg">
                    @Html.PasswordFor(m => m.Clave, new { @class = "form-control", placeholder = "Contraseña", tabindex = 2 })
                    @Html.ValidationMessageFor(m => m.Clave, "", new { @class = "text-danger" })
                </div>
                </div>
                <div class="remember">
                    @Html.CheckBoxFor(m => m.Recordarme, htmlAttributes: new { @id = "login-remember", tabindex = 3 })
                    @Html.LabelFor(m => m.Recordarme)
                </div>
                <button type="submit" id="LoginButton" class="btn btn-lg btn-success btn-block" tabindex="4">Ingresar</button>
                }
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <!-- /.container-fluid -->
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
</body>
</html> 