@model IEnumerable<Proyecto.Models.Institucion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <p>
    @Html.ActionLink("Nueva Institucion", "Crear", "Institucion", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
  </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encargado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.IdInstitucion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Telefono)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Encargado)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Direccion)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Provincia)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Canton)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Distrito)
      </td>
      <td>
        @if (item.Estado == true)
        {
          @Html.Label("Activo")

        }
        else
        {
          @Html.Label("Inactivo")
        }
      </td>
      <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.IdInstitucion }, new { @class = "btn btn-success btn-sm" }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdInstitucion }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
      </td>
    </tr>
    }
    
    </table>
</body>
</html>
