@model Proyecto.Models.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Editar</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Usuario</h4>
            <hr />
            @Html.HiddenFor(model => model.IdUsuario)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.IdInstitucion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdInstitucion, new SelectList(ViewBag.ListaInstitucion, "IdInstitucion", "Descripcion"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 1 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdTipoIdentificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdTipoIdentificacion, new SelectList(ViewBag.ListaTipoIdentificacion, "IdTipoIdentificacion", "Descripcion"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 2 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger", tabindex = 3 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger", tabindex = 4 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger", tabindex = 5 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger", tabindex = 6 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", tabindex = 7 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger", tabindex = 8 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger", tabindex = 9 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger", tabindex = 10 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger", tabindex = 11 })
                </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger", tabindex = 12 })
              </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Provincia, new SelectList(ViewBag.ListaProvincias, "Provincia", "Nombre"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 13 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Canton, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Canton, new SelectList(string.Empty, "Canton", "Nombre"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 14 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Distrito, new SelectList(string.Empty, "Distrito", "Nombre"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;", tabindex = 15 })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</body>
</html>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Provincia").change(function () {
                $("#Canton").empty();
                $("#Distrito").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CargaCantones")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({ provincia: $("#Provincia").val() }),
                    success: function (cantones) {
                        $("#Canton").append("<option value=''>--Seleccione--</option>");
                        $.each(cantones, function (i, canton) {
                            $("#Canton").append('<option value="' + canton.Canton + '">' + canton.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Fallo al cargar los cantones : ' + ex);
                    }
                });
            })
            $("#Canton").change(function () {
                $("#Distrito").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CargaDistritos")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({ provincia: $("#Provincia").val(), canton: $("#Canton").val() }),
                    success: function (distritos) {
                        $("#Distrito").append("<option value=''>--Seleccione--</option>");
                        $.each(distritos, function (i, distrito) {
                            $("#Distrito").append('<option value="' + distrito.Distrito + '">' + distrito.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Fallo al cargar los distritos : ' + ex);
                    }
                });
            })

        });
    </script>
}
