@model IEnumerable<Proyecto.Models.UsuarioLista>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <p>
    @Html.ActionLink("Nuevo Usuario", "Crear", "Usuario", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.IdUsuario)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Institucion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TipoIdentificacion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Identificacion)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Nombre)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Correo)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FechaNacimiento)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Institucion)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TipoIdentificacion)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
          @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }, new { @class = "btn btn-success btn-sm" }) |
          @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdUsuario }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
        </td>
      </tr>
    }

  </table>
</body>
</html>
