<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  @*<link rel="icon" href="images/favicon.ico" type="image/ico" />*@

  <title>@ViewBag.Title | Sistema de Escuelas</title>

  <!-- Bootstrap -->
  <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Font Awesome -->
  <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
  <!-- NProgress -->
  <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />

  <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />

  <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

  <!-- Custom Theme Style -->
  <link href="~/Content/Alela/css/custom.min.css" rel="stylesheet" />



</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-database"></i> <span>Sistema</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="~/Content/images/user.png" alt="Imagen de Usuario" class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Bienvenido,</span>
              <h2>@Html.ViewContext.HttpContext.User.Identity.Name</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li>
                  <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
               
                  <li>
                    <a><i class="fa fa-gear"></i> Carnet <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Index", "Cartent")">Carnet</a></li>
                    </ul>
                  </li>
                  <li>
                    <a><i class="fa fa-calendar-o"></i> Horarios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Index", "Horario")">Horarios</a></li>
                    </ul>
                  </li>
                    @if (User.IsInRole("Estudiante"))
                    {
              
                  <li>
                    <a><i class="fa fa-calendar-o"></i> Materias <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Materias", "Materias")">Materias</a></li>
                    </ul>
                  </li>
                }
                @if (User.IsInRole("Docente") || User.IsInRole("Administrador"))
                {
                  <li>
                    <a><i class="fa fa-edit"></i> Actividades <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Index", "Notas")">Notas</a></li>
                      <li><a href="@Url.Action("Index", "TipoOperacion")">Tipo Operacion</a></li>
                      <li><a href="@Url.Action("Index", "Calificacion")">Calificacion</a></li>
                    </ul>
                  </li>
                }
                @if (User.IsInRole("Administrador"))
                {
                  <li>
                    <a><i class="fa fa-gear"></i> Grado <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Index", "Grado")">Grado</a></li>
                    </ul>
                  </li>}
                @if (User.IsInRole("Administrador"))
                {
                  <li>
                    <a><i class="fa fa-gear"></i> Materias <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="@Url.Action("Index", "Materias")">Materias</a></li>
                    </ul>
                  </li>
                }
                  @if (User.IsInRole("Administrador"))
                  {
                    <li>
                      <a><i class="fa fa-gear"></i> Mantenimientos <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <p>

                        </p>
                        <li>
                          <a><i class="fa fa-gear"></i> Institucion <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "Institucion")">Institucion</a></li>
                          </ul>
                        </li>
                        <li>
                          <a><i class="fa fa-gear"></i> Usuario <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "Usuario")">Usuario</a></li>
                            <li><a href="@Url.Action("Index", "UsuarioRol")">Asignar Rol</a></li>

                          </ul>
                        </li>
                        <li>
                          <a><i class="fa fa-gear"></i> Docente <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "Docente")">Docente</a></li>
                            <li><a href="@Url.Action("Index", "DocenteGrado")">Asignar Grado</a></li>

                          </ul>
                        </li>
                        <li>
                          <a><i class="fa fa-gear"></i> Estudiante <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "Estudiante")">Estudiante</a></li>
                          </ul>
                        </li>

                        <li>
                          <a><i class="fa fa-gear"></i> Roles <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "Rol")">Roles</a></li>
                          </ul>
                        </li>
                        <li>
                          <a><i class="fa fa-gear"></i> Tipo Identificacion <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index", "TipoIdentificacion")">Tipo Identificacion</a></li>
                          </ul>
                        </li>

                      </ul>
                    </li>
                  }


                </ul>
            </div>

          </div>
          <!-- /sidebar menu -->
          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                  <img src="~/Content/images/user.png" alt="">@Html.ViewContext.HttpContext.User.Identity.Name
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="@Url.Action("Salir", "Login")"><i class="fa fa-sign-out pull-right"></i> Salir</a>
                </div>
              </li>

              <li role="presentation" class="nav-item dropdown open">
                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="~/Content/images/user.png" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="~/Content/images/user.png" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="~/Content/images/user.png" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="~/Content/images/user.png" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="text-center">
                      <a class="dropdown-item">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->
      <!-- page content -->
      <div class="right_col" role="main">
        @RenderBody()
      </div>
      <!-- /page content -->
      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- Scripts -->
  <script src="~/Vendors/jquery/jquery.min.js"></script>
  <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/Vendors/nprogress/nprogress.js"></script>

  <script src="~/Vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="../vendors/gauge.js/dist/gauge.min.js"></script>

  <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

  <!-- Flot -->
  <script src="~/Vendors/Flot/jquery.flot.js"></script>
  <script src="~/Vendors/Flot/jquery.flot.pie.js"></script>
  <script src="~/Vendors/Flot/jquery.flot.time.js"></script>
  <script src="~/Vendors/Flot/jquery.flot.stack.js"></script>
  <script src="~/Vendors/Flot/jquery.flot.resize.js"></script>

  <!-- Flot plugins -->
  <script src="~/Vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="~/Vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="~/Vendors/flot.curvedlines/curvedLines.js"></script>

  <!-- DateJS -->
  <script src="~/Vendors/DateJS/build/date.js"></script>

  <script src="~/Vendors/moment/min/moment.min.js"></script>
  <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <script src="~/Content/Alela/js/custom.js"></script>

  @RenderSection("scripts", required: false)

</body>
</html>
