@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

